$body-backgroundColor: #F1F5F8;
$todo-backgroundColor: #FFF;
$formButton-backgroundColor: #A5D5F8;
$todoButton-fontColor: #E66E6D;
$input-color: #F1F5F8;

body {
    background-color: $body-backgroundColor;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo {
    background-color: $todo-backgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    .h1 {
        margin-top: 50px;
    }
    .clearButton {
        background-color: inherit;
        border: 0;
        color: $todoButton-fontColor;
        padding-bottom: 20px;
    }
}

.todo__form{
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    .input {
        width: 300px;
        height: 20px;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 0;
        background-color: $input-color;
        position: relative;
    }
    .input:focus {
        outline: none;
    }

    .button {
        width: 50px;
        height: 22px;
        margin: 0;
        background-color: $formButton-backgroundColor;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 0;
        position: relative;
        right: 5px;
    }

}

.table{
    width: 100%;
    padding-top: 25px;
    .table__row{
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
        line-height: 30px;
        .image {
            width: 12px;
        }
    }
}