$secondary : #BA5D2D;
$remove : #7C95AB;

:root {
    --font: black;
}

.navHome {
    --font: red;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: var(--font);
}
.section {
    width: 100%;
}
.nav {
    padding-left: 100px;
    .nav__header {
        display: flex;
        justify-content: space-between;
        .button {
            background-color: transparent;
            border: 0 solid black;
            margin-top: 10px;
            font-size: 18px;
            color: var(--font);
        }
        .logo {
            font-family: 'Caveat', cursive;
            font-size: 30px;
            line-height: 15px;
            margin: 10px 0px;
            color: var(--font);
        }
        .cart {
            background-color: transparent;
            border: 0 solid black;
            margin-top: 10px;
            color: var(--font);
        }
    }

}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    .row {
        width: 80%;
        display: flex;
        justify-content: space-around;
        .item__image{
            width: 180px;
            height: 120px;
        }
    }
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.products {
    display: flex;
    justify-content: space-between;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    margin-right: 30px;
    .search {
        background-color: lightgray;
        border: 0;
        width: 120px;
        height: 25px;
        border-radius: 5px;
    }
    .search:focus {
        outline: none;
    }
    .category {
        background-color: white;
        border: 0;
        margin-bottom: 10px;
    }
    .h5 {
        margin: 15px 0px;
    }
}

.catalog {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    .catalog__column {
        display: flex;
        flex-direction: column;
        width: 120px;

        .item__image {
            // width: 180px;
        }
    }
}
.row {
    display: flex;
    width: 75vw;
    justify-content: space-around;
}
.item {
    display: flex;
    flex-direction: column;
    .priceAndCart{
        display: flex;
        justify-content: space-between;
    }
}
.cartDiv {
    background-color: lightgray;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    .cart__exit {
        position: relative;
        font-size: 30px;
        font-weight: 900;
        right: 120px;
        color: $remove;
    }
    .cart__title {
        font-family: 'Caveat', cursive;
    }
    .cart__itemList{
        width: 300px;
    }
    .cart__item {
        width: 300px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .cart__image {
        width: 60px;
        height: 45px;
        border-radius: 5px;
    }
    .item__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h4 {
            margin: 0 0;
        }
        .item__remove {
            color: $remove;
            background-color: lightgray;
            border: 0 solid black;
            margin-top: 5px;
            padding: 0;
        }
    }
    .item__counter{
        display: flex;
        flex-direction: column;
        .alter {
            color: $secondary;
        }
        .down {
            transform: rotate(180deg);
        }
    }
    .totalPrice {
        font-family: 'Caveat', cursive;
    }
    .checkoutButton {
        background-color: $secondary;
        border: 0 solid black;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        width: 75%;
        height: 25px;
        margin-bottom: 20px;
    }

}