$darkMode-bodyBackgroundColor: #4c4c4c;
$darkMode-elementBackgroundColor: #2c2c2c;
.dark-theme {
    background-color: $darkMode-bodyBackgroundColor !important;
    color: white;
}

.dark-theme .country {
    background-color: $darkMode-elementBackgroundColor !important;
}
.dark-theme .loader {
    border: 8px solid darkgrey !important;
}

.dark-theme .input {
    background-color: $darkMode-elementBackgroundColor;
    color: white;
}

.dark-theme .input::placeholder {
    color: white;
}

.dark-theme .select {
    background-color: $darkMode-elementBackgroundColor;
    color: white;
}