$darkMode-bodyBackgroundColor: #4c4c4c;
$darkMode-countryBackgroundColor: #2c2c2c;
body {
    margin: 0;
    background-color: lightgray;
    color: black;
}
.darkMode__body{
    background-color: $darkMode-bodyBackgroundColor;
    color: white;
}
.darkMode__element{
    background-color: $darkMode-countryBackgroundColor;
    color: white;
}
.darkMode__element::placeholder{
    color: white;
}

.nav {
}
.nav__header{
    display: flex;
    justify-content: space-between;
    .h1{
        margin: 0;
        padding-top: 10px;
        padding-left: 50px;
    }
    .displayMode{
        padding-top: 10px;
        padding-right: 50px;
        .image{
            width: 16px;
        }
        .span{

        }
    }
}
.nav__form{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
    .textInput{
        width: 60%;
        height: 25px;
        padding: 5px;
    }
    .textInput:focus{
        outline: none;
    }
    .divSelect {
        display: flex;
        height: 28px;
        .inputSelect:focus {
            outline: none;
        }
        .select {
            height: 28px;
        }
    }

}



.list{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list__row{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    padding-bottom: 64px;
    .country{
        background-color: white;
        border-radius: 50px;
        width: 192px;
    }
    .country__flag{
        width: 192px;
        height: 128px;
        overflow: hidden;
    }
    .country__information{
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-weight: bold;
        .name{
            margin-top: 0;
        }
        .population,.region,.capital{
            font-weight: normal;
        }

    }
}